.navbar-laravel
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
.router-link-exact-active,
.is-active
  a
    text-decoration: none
    color: red
html,body
  margin: 0px
  padding: 0px
  box-sizing: border-box

footer
  padding: 5% 0
  background: black
  text-align: center
  color: gray

footer span
  color: coral

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
